[submodule "bundle/vim-pml"]
	path = bundle/vim-pml
	url = git@github.com:neror/vim-pml.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git@github.com:neror/snipmate.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = git@github.com:neror/cocoa.vim.git
[submodule "bundle/taskpaper.vim"]
	path = bundle/taskpaper.vim
	url = git@github.com:neror/taskpaper.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:neror/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-multimarkdown"]
	path = bundle/vim-multimarkdown
	url = git://github.com/jngeist/vim-multimarkdown.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git@github.com:neror/vim-ragtag.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
